body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}


h1{
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; 
    line-height: 2;
    color: #66bfbf;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Merriweather', serif;
    color: #11999e;
}

p{
    line-height: 2;
}

.top-container{
    background-color: #E4f9f5;
    position: relative;
    padding-top: 100px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color:#434949;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}



.pro{
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}

.intro{
    width: 30%;
    margin: auto;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
}

.middle-container{
    margin: 100px auto 60px;
}

.bottom-container{
    background-color: #66bfbf;
    padding:50px 0 20px;
}

.contact-message{
    width: 40%;
    margin: 40px auto;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skill-row2{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: right;
}

.bm{
    width: 25%;
    float: left;
}

.program{
    margin-left: 30px;
    width: 25%;
    float:right;
}

a{
    color:#11999e ;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.footer-link{
    color: #11999e;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 139px;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 0;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }

 .copy-right{
     color: #EAF6F6;
     font-size: 0.75 rem;
     padding: 20px 0;
 }